<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <%= cl_image_tag @other.avatar.key, crop: :fill, class:"avatar profile-avatar mx-auto d-block mb-3" %>
      <h2 class="h4 text-center">Conversation with <%= @other.first_name+' '+@other.last_name %></h2>
      <%= link_to "View profile", @other, class: "btn btn-primary d-block mt-3" %>
      <%= link_to "Back to messages", conversations_path, class: "btn btn-link d-block mt-2" %>
      <input id="conversation_id" type="hidden" value="<%= @conversation.id %>">
    </div>
    <div class="col-sm-12 col-md-9">
      <div id="chat" class="bg-white p-4 border rounded">
        <%= render @messages %>
      </div>
      <div class="chat-input">
        <%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
            <%= f.text_area :context, placeholder: "Add a personal message", class: "form-control" %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= button_tag(class: "btn btn-primary px-4") do %>
              <i class="fa fa-paper-plane"></i>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
