<% if service.photo.attached? %>
  <%= cl_image_tag service.photo.key, height: 300, width: 1200, crop: :fill %>
<% else %>
  <%= image_tag("placeholder.jpg") %>
<% end %>

<div class="card-course-infos">
  <%= link_to user_path(service.user) do  %>
    <div class="card-course-user mb-3">
      <% if service.user.avatar.key.nil? == false %>
        <%= cl_image_tag service.user.avatar.key, crop: :fill, class:"avatar small" %>
      <% else %>
        <%= image_tag("doug.jpg", class: "avatar small") %>
      <% end %>
      <small>
        <%= service.user.first_name + ' ' + service.user.last_name %>
      </small>
    </div>
  <% end %>
  <div class="card-course-title">
    <h2 class="h5">
      <%= link_to service_path(service) do %>
        <%= service.name %>
      <% end %>
    </h2>
  </div>
  <%if !service.rating.nil?%>
    <div class="rating mb-2">
      <small>
        <% service.rating.to_i.times do %>
          <i class="fas fa-star full"></i>
        <% end %>
        <% (5 - service.rating).to_i.times do %>
          <i class="far fa-star empty"></i>
        <% end %>
      </small>
    </div>
  <%end%>
  <p class="card-course-description">
    <%= service.description %>
  </p>
  <div class="d-flex justify-content-between align-items-center">
    <%if user_signed_in?%>
      <div style = "display:none" >
        <p id="service_id_<%=service.id%>"><%= service.id %></p>
      </div>
      <%if current_user.savelist.savelistspointers.where("service_id = #{service.id}").empty? == false %>
        <div style = "display:none">
          <p id="savelistspointer_id_<%=service.id%>"><%= current_user.savelist.savelistspointers.where("service_id = #{service.id}").first.id %></p>
        </div>
      <%end%>
      <div id="save_list_btn_<%=service.id%>">
        <%if service.user != current_user %>
          <%if (current_user.savelist.savelistspointers.empty? == true or current_user.savelist.savelistspointers.where("service_id = #{service.id}").empty? == true) %>
            <button type="button" class="btn" id="create-savelistspointers_<%=service.id%>" onclick = "clicklikebutton(event, <%= service.id %>)">
              <i class="fa fa-bookmark text-muted"></i>
            </button>
          <%elsif current_user.savelist.savelistspointers.where("service_id = #{service.id}").empty? == false %>
            <button type="button" class="btn" id="destroy-savelistspointers_<%=service.id%>" onclick = "clickdeletebutton(event, <%= service.id %>)">
              <i class="fa fa-bookmark text-warning"></i>
            </button>
          <%end%>
        <%end%>
      </div>
    <%end%>
    <span class="d-block text-right text-muted font-weight-bold">
      <small class="text-uppercase">Starting from</small><br>
      $<%= service.rate %>
    </span>
  </div>
  <small class="d-block text-center text-muted">Posted <%= service.created_at.strftime('%e %b') %></small>
  <script>
      function clicklikebutton(event, service_id) {
      console.log(service_id)
      event.preventDefault();
      $.ajax({
        url: "/services/"+document.getElementById(`service_id_${service_id}`).innerHTML+"/savelistspointers/",
        method: "POST",
        data: { service_id: document.getElementById(`service_id_${service_id}`).innerHTML },
        dataType: "json",
        success: function(data){
          console.log(data)
          const container = document.getElementById(`save_list_btn_${service_id}`);
          const button = document.getElementById(`create-savelistspointers_${service_id}`);
          const html = `<button type="button" class="btn" id="destroy-savelistspointers_${service_id}" onclick = "clickdeletebutton(event, ${service_id})">
                          <i class="fa fa-bookmark text-warning"></i>
                        </button>
                        <p id="savelistspointer_id_${service_id}" style = "display:none">${data["id"]}</p>`
          container.removeChild(button);
          container.insertAdjacentHTML('afterbegin', html);
        }
      });
    };
    function clickdeletebutton(event, service_id) {
      console.log(service_id)
      event.preventDefault();
      $.ajax({
        url: "/services/"+document.getElementById(`service_id_${service_id}`).innerHTML+"/savelistspointers/"+document.getElementById(`savelistspointer_id_${service_id}`).innerHTML,
        method: "DELETE",
        data: { service_id: document.getElementById(`service_id_${service_id}`).innerHTML },
        success: function() {
          const container = document.getElementById(`save_list_btn_${service_id}`);
          document.getElementById(`savelistspointer_id_${service_id}`).remove();
          const button = document.getElementById(`destroy-savelistspointers_${service_id}`);
          const html = `<button type="button" class="btn" id="create-savelistspointers_${service_id}" onclick = "clicklikebutton(event, ${service_id})">
                          <i class="fa fa-bookmark text-muted"></i>
                        </button>`
          container.removeChild(button);
          container.insertAdjacentHTML('afterbegin', html);
        }
      });
    };
  </script>
</div>

