<% if service.photo.attached? %>
  <%= cl_image_tag service.photo.key, height: 300, width: 1200, crop: :fill %>
<% else %>
  <%= image_tag("placeholder.jpg") %>
<% end %>

<div class="card-course-infos">
  <%= link_to user_path(service.user) do  %>
    <div class="card-course-user mb-3">
      <% if service.user.avatar.key.nil? == false %>
        <%= cl_image_tag service.user.avatar.key, crop: :fill, class:"avatar small" %>
      <% else %>
        <%= image_tag("doug.jpg", class: "avatar small") %>
      <% end %>
      <small>
        <%= service.user.first_name + ' ' + service.user.last_name %>
      </small>
    </div>
  <% end %>
  <div class="card-course-title">
    <h2 class="h5">
      <%= link_to service_path(service) do %>
        <%= service.name %>
      <% end %>
    </h2>
  </div>
  <%if !service.rating.nil?%>
    <div class="rating mb-2">
      <small>
        <% service.rating.to_i.times do %>
          <i class="fas fa-star full"></i>
        <% end %>
        <% (5 - service.rating).to_i.times do %>
          <i class="far fa-star empty"></i>
        <% end %>
      </small>
    </div>
  <%end%>
  <p class="card-course-description">
    <%= service.description %>
  </p>
  <span class="d-block text-right text-muted font-weight-bold">¥<%= service.rate %>/hr</span>
  <small class="d-block text-right text-muted"><%= service.created_at.strftime('%e %b') %></small>
  <%if user_signed_in?%>
    <div style = "display:none" >
      <p id="service_id"><%= service.id %></p>
    </div>
    <%if current_user.savelist.savelistspointers.empty? == false %>
      <div style = "display:none">
        <p id="savelistspointer_id"><%= current_user.savelist.savelistspointers.where("service_id = #{service.id}").first.id %></p>
      </div>
    <%end%>
    <div id="save_list_btn">
      <%if service.user != current_user %>
        <%if (current_user.savelist.savelistspointers.empty? == true or current_user.savelist.savelistspointers.where("service_id = #{service.id}").nil? ) %>
          <button type="button" class = "btn btn-primary" id="create-savelistspointers" onclick = "clicklikebutton(event)">add to save list</button>
        <%else%>
          <button type="button" class = "btn btn-primary" id="destroy-savelistspointers" onclick = "clickdeletebutton(event)">remove from save list</button>
        <%end%>
      <%end%>
    </div>
  <%end%>
  <script>
      function clicklikebutton(event) {
      event.preventDefault();
      $.ajax({
        url: "/services/"+document.getElementById("service_id").innerHTML+"/savelistspointers/",
        method: "POST",
        data: { service_id: document.getElementById("service_id").innerHTML },
        success: function() {
          console.log("successful")
          document.getElementById("save_list_btn").removeChild(document.getElementById("create-savelistspointers"))
          var node = document.createElement("button");
          var textnode = document.createTextNode("remove from save list");
          node.appendChild(textnode);
          node.classList.add("btn");
          node.classList.add("btn-primary");
          node.setAttribute("id", "destroy-savelistspointers");
          node.setAttribute("onclick", "clickdeletebutton(event)");
          document.getElementById("save_list_btn").appendChild(node);
        }
      });
    };
    function clickdeletebutton(event) {
      event.preventDefault();
      $.ajax({
        url: "/services/"+document.getElementById("service_id").innerHTML+"/savelistspointers/"+document.getElementById("savelistspointer_id").innerHTML,
        method: "DELETE",
        data: { service_id: document.getElementById("service_id").innerHTML },
        success: function() {
          console.log("successful")
          document.getElementById("save_list_btn").removeChild(document.getElementById("destroy-savelistspointers"))
          var node = document.createElement("button");
          var textnode = document.createTextNode("add to save list");
          node.appendChild(textnode);
          node.classList.add("btn");
          node.classList.add("btn-primary");
          node.setAttribute("id", "create-savelistspointers");
          node.setAttribute("onclick", "clicklikebutton(event)");
          document.getElementById("save_list_btn").appendChild(node);
        }
      });
    };
  </script>
</div>

