<div class="bg-white border-bottom shadow-sm">
  <div class="container navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      Esky
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to notifications_path, class: "nav-link position-relative" do %>
            <i class="fa fa-bell"></i>
            <span class="badge" id="navbar_num_of_unread"><%= current_user.unread if current_user.unread > 0 %></span>
          <% end %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(bookings_path) %>">
          <%= link_to 'Bookings', bookings_path, class: "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item <%= 'active' if current_page?(services_path) %>">
          <%= link_to 'Services', services_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.avatar.nil? == false %>
              <%= cl_image_tag current_user.avatar.key, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag("doug.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Messages", conversations_path, :method => :get, class: "dropdown-item"%>
              <%= link_to "My Page", "/dashboard", :method => :get, class: "dropdown-item" %>
              <%= link_to "Account setting", "/payment_method", :method => :get ,class: "dropdown-item" %>
              <%= link_to "My provider schedule", "/provider_calendar", :method => :get ,class: "dropdown-item" %>
              <%= link_to "Add a Service", new_service_path, class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
