<div class="full-span-wrapper login">

<div class="container">

<div class="mw-sm bg-light p-5 rounded box-shadow">
      <p class="h2 text-center">Welcome back!</p>
      <p class="h6 text-center">Everything you need in one place - Esky connects you to the world and is made for people who get things done.</p>

      <small class="d-block text-center">No account? <%= link_to "Sign up", new_registration_path(resource_name) %></small>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "form-control" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password", class: "form-control" } %>
          <%= f.input :remember_me,
                      input_html: { class: "form-check-input" },
                      label_html: { class: "form-check-label" },
                      wrapper_html: { class: "form-group" },
                      as: :boolean if devise_mapping.rememberable? %>
      
        <div class="form-actions">
          <%= f.button :submit, "Log in", class: 'btn-block btn-primary' %>
        </div>
      <% end %>
      
      <%= render "devise/shared/links" %>
      
  </div>
</div>
</div>